{% extends 'layout.html' %}
{% block content %}
    
    <div class="p-5">
        <div class="display-6 mb-3">Table View</div>
        <div class="card table-card p-3 shadow-sm mb-3">
            <div class="container p-2 table-responsive">
                <table class="table caption-top table-striped">
                    <thead>
                        <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Time</th>
                        <th scope="col">Locked Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td>Rafael</td>
                            <td>Tibudan</td>
                            <td>time</td>
                            <td>false</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
{% endblock content %}