{% extends 'layout.html' %}
{% block content %}
    
    <div class="p-5">
        <div class="display-6 mb-3">Log Records</div>
        <div class="card table-card p-3 shadow-sm mb-3">
            <div class="container p-2 table-responsive">
                <table class="table caption-top table-striped">
                    <thead>
                        <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Date Accessed</th>
                        <th scope="col">Time Accessed</th>
                        <th scope="col">Permit Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>March 27, 2023</td>
                            <td>10:09:20</td>
                            <td>Allowed</td>
                        </tr>
                        <tr>
                            <td>Jane</td>
                            <td>Doe</td>
                            <td>March 31, 2023</td>
                            <td>9:31:20</td>
                            <td>Disallowed  </td>
                        </tr>        
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
{% endblock content %}